<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Nerd's Treasury - Item list</title>
  </head>

  <body>   
  
  	<header th:insert="/fragments/header.html :: header"> </header>
  
  	<p th:text="${title}"/>
    <p th:text="${name}"/>
    <table>
    	<thead>
        	<tr>
            	<th>Title</th>
            	<th>Sort term</th>
            	<th>Developer</th>
            	<th>Publisher</th>
            	<th>Genre</th>
        	</tr>
    	</thead>
    	<tbody>
	    	<tr th:if="${items.empty}">
    	        <td colspan="5"> No Items Available </td>
        	</tr>
        	<tr th:each="item : ${items}">
            	<td><span th:text="${item.title}">Title</span></td>
            	<td><span th:text="${item.sortTerm}">Sort term</span></td>
            	<td><span th:text="${item.developer}">Developer</span></td>
            	<td><span th:text="${item.publisher}">Publisher</span></td>
            	<td><span th:text="${item.genre}">Genre</span></td>
        	</tr>
    	</tbody>
	</table>
	
	<a href="/item">New Item</a>
	
    <form name="logoutForm" th:action="@{/logout}" method="post">
      <input type="submit" value="Sign Out"/>
   </form>
   
   <div th:replace="/fragments/footer.html :: footer"></div>
    
  </body>
</html>