<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Nerd's Treasury - Item list</title>
  </head>

  <body>
    
    <table>
    	<thead>
        	<tr>
            	<th>Title</th>
            	<th>Sort term</th>
            	<th>Developer</th>
            	<th>Publisher</th>
            	<th>Genre</th>
            	<th>System</th>
        	</tr>
    	</thead>
    	<tbody>
	    	<tr th:if="${items.empty}">
    	        <td colspan="6"> No Items Available </td>
        	</tr>
        	<tr th:each="item : ${items}">
            	<td><span th:text="${item.title}">Title</span></td>
            	<td><span th:text="${item.sortTerm}">Sort term</span></td>
            	<td><span th:text="${item.developer}">Developer</span></td>
            	<td><span th:text="${item.publisher}">Publisher</span></td>
            	<td><span th:text="${item.genre}">Genre</span></td>
            	<td><span th:text="${item.system}">System</span></td>
        	</tr>
    	</tbody>
	</table>
    
  </body>
</html>